<div class="container">
  <div class="wrapper">
    <div id="map"></div>
<!--     <div id="innercontent">
      <h1>What's Happening?</h1>
    </div> -->
  </div>

</div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=" + ENV['GOOGLE_MAPS_KEY'] + "&callback=initMap">
</script>
