// Google Map

html, body {
  height: 100%; margin: 0; padding: 0;
}

#map {
 height: 100%;
}

// #innercontent {
//   height: 95%;
//   width: 95%;
//   top: 10px;
//   left: 10px;
//   z-index: 99;
//   position: absolute;
//   background-color: rgba(136,136,136,0.3);
//   text-align: center;
// }